.w3-lobster {
    font-family: "Lobster", serif;
}
.login {
    width: 361px;
    padding: 25px;
}
button.w3-button.w3-black.w3-round-xlarge {
    float: right;
}
.derecha {
    float: right;
    margin-top: 35px;
    clear: both;
}
button a {
    text-decoration: none;
}
.banda {
    text-align: center;
}
.banda p, .banda img {
    display: inline-block;
}
.banda a {
    margin-right: 80px;
    margin-top: 60px;
}
footer {
    height: 150px;
    margin-top: 90px;
    width: 100%;
    background-color: #5f8fe4;
    color: #fff;
    font-size: 13px;
    border-top: 4px solid #185ad0;
}
.docentes {
    float: left;
    margin-left: 50px;
    margin-top: 14px;
}
.alumnos {
    float: right;
    margin-right: 50px;
    margin-top: 14px;
}
footer img {
    width: 90px;
    margin-top: 20px;
    float: left;
    margin-right: 20px;
}
.tab-content {
     border: 1px solid #ccc;
     margin-bottom: 50px;
     padding: 0px 30px 15px 30px;
     border-top: 1px solid #fff;
 }
header {
    margin-bottom: 60px;
}
.iso-logo {
    margin-left: 50px;
    float: left;
    font-size: 22px;
    width: 510px;
    line-height: 5px;
    margin-right: 200px;
}
.iso-logo .titulo span {
    display: block;
    line-height: 54px;
    font-size: 30px;
}
.docentes p, .alumnos p {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 3px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #a2d0f5 !important;
}
.tab-pane p.descripcion {
    border-bottom: 1px solid #ddd;
    margin-bottom: 35px;
    padding-bottom: 8px;
}
.selector {
    margin-bottom: 13px;
}
input, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 23px;
}
.w3-green a {
    color: #fff;
    font-weight: bold;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e6e5e5 !important;
}
.reserva {
    height: 25px;
    padding-top: 2px;
}